.playingField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 769px;
  min-width: 320px;
  min-height: 100vh;
}

.table_conteiner {
  display: block;

  &.none {
    display: none;
  }
}

.imgPlay {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1rem;

  &.none {
    display: none;
  }

  @media (max-width: 400px)  {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }
  
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      animation-name: swaying;
      animation-duration: 0.4s;
    }
  }
}

.button_conteiner {
  display: flex;
  flex-direction: row;

  &.none {
    display: none;
  }

  @media (max-width: 769px)  {
    flex-direction: column;
  }
}

.button {
  height: 2rem;
  padding: 0 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #191c21;
  border: 2px solid #191c21;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 2px solid #58c4dc;
    }
  }

  &:active {
    border: 2px solid #58c4dc;
    transition: 0.05s;
  }

  &:focus {
    -webkit-tap-highlight-color: transparent;
  }

  &.disabled {
    cursor: auto;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border: 2px solid #191c21;
      }
    }

    &:active {
      border: 2px solid #191c21;
      transition: 0.05s;
    }
  }
}

@keyframes swaying {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}