.playingField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 769px;
  min-width: 320px;
  min-height: 100vh;
}

.table_conteiner {
  display: block;

  &.none {
    display: none;
  }
}

.imgPlay {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1rem;

  &.none {
    display: none;
  }

  @media (max-width: 400px)  {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }
  
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      animation-name: swaying;
      animation-duration: 0.4s;
    }
  }
}

@keyframes swaying {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}