.header {
  display: flex;
  flex-direction: row;
}

.img {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
    }
  }
}