.th {
  width: 2rem;
  height: 2rem;
  background-color: rgb(51,58,69);
  border: 2px solid #333a45;
  border-radius: 0.5rem;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &.active {
    border: 2px solid #58c4dc;
  }

  &.none {
    background-color: rgba(51,58,69, 0.3);
    border: 2px solid rgba(51,58,69, 0.3);
    color: gray;
  }

  @media (min-width: 769px)  {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.th_one {
  width: 2rem;
  height: 2rem;
  background-color: #191c21;
  border: 2px solid #191c21;
  border-radius: 0.5rem;
  user-select: none;

  @media (min-width: 769px)  {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  &.active {
    border: 2px solid #58c4dc;
  }
}
