.settings_container {
  position: absolute;
  top: -100%;
  width: 95%;
  max-width: 769px;
  min-width: 310px;
  max-height: calc(100vh - 7rem);
  background-color: #191c21;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  &.active {
    top: 5rem;
  }
}

.settings_hidden {
  flex-grow: 1;
  overflow-y: auto;
}

.settings_title1 {
  font-size: 2rem;
}

.settings_title2 {
  font-size: 1.5rem;
}

.settings_title3 {
  font-size: 1.3rem;
}

.settings_language,
.settings_playing_field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.settings_playing_field {
  flex-wrap: wrap;
}

.negative_numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.negative_numbers_controller {
  position: relative;
  height: 2rem;
  width: 4rem;
  background-color: #333a45;
  border-radius: 2rem;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: #191c21;
    transition: left 0.3s, background-color 0.3s;
  }

  &.active {
    &::after {
      left: 2.2rem;
      background-color: #58c4dc;
    }
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: #333a45 solid 2px;
  
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
    }
  }

  &.active {
    border: #58c4dc solid 2px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  min-width: 320px;

  @media (max-width: 400px)  {
    justify-content: space-around;
  }
}

.img,
.img_cross {
  width: 3rem;
  height: 3rem;
  margin: 1rem;

  @media (max-width: 400px)  {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }
  
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      animation-name: swaying;
      animation-duration: 0.4s;
    }
  }
}

.img_cross {
  display: flex;
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

@keyframes swaying {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}